/* Giving our navbar some padding and a background color */
.navbar {
    padding: 10px;
    background: white;
  }

/* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
.navbar li {
    display: inline-block;
    padding: 20px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    background: #2e8a8a;
    border-radius: 3px;
  }

/* Getting rid of the default link styles here */
.navbar li a {
    color: white;
    text-decoration: none;
    font-size: larger;
    font-family: sans-serif;
  }

/* Giving the .post element margin on 3 sides */
.post {
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
  }

/* Changing the color of Data */

.header {
    color: #2e8a8a;
}